In [38]:
import numpy as np
import pandas as pd
import pickle
import seaborn as sns
import random

from sklearn.preprocessing import MinMaxScaler

In [2]:
def splitdata(data, label, ntrainbatch=10):
    nbatch=ntrainbatch-1
    trainframes=[]
    testframes =[]
    for i in range(45):
        if i%15-1<nbatch:
            trainframes.append(pd.concat([pd.DataFrame(data[i]), pd.DataFrame(label[i])], axis=1))
        if i%15>nbatch:
            testframes.append(pd.concat([pd.DataFrame(data[i]), pd.DataFrame(label[i])], axis=1))
    train = pd.concat(trainframes)
    test  = pd.concat(testframes)
    return train, test

def gatherdata(X, y):
    Xyframes=[]
    for i in range(45):
        Xyframes.append(pd.concat([pd.DataFrame(X[i]), pd.DataFrame(y[i])], axis=1))
    XyDF = pd.concat(Xyframes)
    return XyDF

In [3]:
#Train-Test from Full DF function 
def fulldfsplit(nsubjects=16):
    '''Files must be labelled as {subject#}_123.npz' and should be inside a Data folder within the Project'''
    data16  = {}
    label16 = {}
    Xytrain16_list = []
    Xytest16_list  = []
    for i in range(1,nsubjects+1): 
        # Load all 16 files data into a Dict named 'i_123.npz' using a for loop
        data16[i]  = pickle.loads(np.load(f'../data/{i}_123.npz')['data'])
        label16[i] = pickle.loads(np.load(f'../data/{i}_123.npz')['label'])
            
    for i in range(1,nsubjects+1):
        #apply all data to the splitdata func to create lists of DFs 
        train, test = splitdata(data16[i], label16[i], 10)
        Xytrain16_list.append(train)
        Xytest16_list.append(test)

    #create a unified DF from every list with pd.concat(trainframes)
    Xytrain16_DF = pd.concat(Xytrain16_list)
    Xytest16_DF  = pd.concat(Xytest16_list)
    
    return Xytrain16_DF, Xytest16_DF

In [4]:
#Full DF no split
def fulldf(nsubjects=16):
    data16  = {}
    label16 = {}
    for i in range(1,nsubjects+1): 
        # Load all 16 files data into a Dict named 'i_123.npz' using a for loop
        data16[i]  = pickle.loads(np.load(f'../data/{i}_123.npz')['data'])
        label16[i] = pickle.loads(np.load(f'../data/{i}_123.npz')['label'])
    Xy16_list = []
    for i in range(1,nsubjects+1): 
        #apply all data to the gather data func to create lists of DFs 
        Xy = gatherdata(data16[i], label16[i])
        Xy16_list.append(Xy)
    XyDF = pd.concat(Xy16_list)
    XyDF.columns = [*XyDF.columns[:-1], 'target']
    return XyDF

In [5]:
df = fulldf()
df

,0,1,2,3,4,5,6,7,8,9,...,301,302,303,304,305,306,307,308,309,target
0,11.082522,8.915990,7.894088,8.393629,8.576055,10.450283,8.682803,7.425018,6.833982,6.431147,...,7.484101,6.889748,5.478040,4.247615,8.838729,7.736448,7.071955,5.657081,4.361506,4.0
1,11.081816,8.915104,7.893646,8.393852,8.575908,10.449770,8.681773,7.424501,6.833948,6.430860,...,7.483864,6.889452,5.477954,4.247919,8.838477,7.736124,7.071776,5.656987,4.361624,4.0
2,11.081139,8.914245,7.893116,8.394334,8.575671,10.449391,8.680753,7.424007,6.834211,6.430407,...,7.483311,6.888881,5.477563,4.248155,8.838380,7.735444,7.071462,5.656746,4.361780,4.0
3,11.080857,8.913749,7.893061,8.394893,8.575294,10.449425,8.680200,7.424111,6.834612,6.429797,...,7.482540,6.887955,5.476832,4.248294,8.838502,7.734421,7.070929,5.656415,4.362126,4.0
4,11.081297,8.913816,7.893386,8.395509,8.575009,10.449813,8.680219,7.424706,6.835073,6.429158,...,7.481893,6.886515,5.475891,4.248291,8.839146,7.733523,7.069984,5.656045,4.362404,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,9.529579,8.318256,7.732816,9.397791,9.115455,9.694111,8.470004,7.941205,9.614300,9.135193,...,7.976777,6.852695,5.551061,4.070139,9.062504,7.982785,6.853389,5.555958,4.077902,0.0
40,9.530539,8.318164,7.733501,9.398356,9.115913,9.695149,8.469489,7.941748,9.614058,9.136483,...,7.976474,6.851993,5.551469,4.070357,9.060047,7.982550,6.852656,5.556333,4.078116,0.0
41,9.531535,8.318104,7.734126,9.398800,9.116187,9.696553,8.469255,7.942313,9.613791,9.137544,...,7.976266,6.851362,5.551913,4.070373,9.058366,7.982399,6.851989,5.556733,4.078134,0.0
42,9.532130,8.318357,7.734763,9.399152,9.116486,9.697598,8.469410,7.942883,9.613622,9.138365,...,7.976297,6.850847,5.552422,4.070364,9.057412,7.982475,6.851438,5.557197,4.078131,0.0
43,9.532313,8.318663,7.735185,9.399373,9.116648,9.698063,8.469610,7.943199,9.613470,9.138889,...,7.976388,6.850585,5.552821,4.070396,9.056981,7.982595,6.851152,5.557572,4.078172,0.0

In [18]:
#Dayus formula
def get_X_y(df, 
            X_length=13, # 
            y_length=13, 
            number_of_sequences=51, 
            number_of_targets=1, 
            val=False, 
            val_cutoff=0.8):


#     limit dataframes to length for train/test splits
    df_X = df.copy().drop(columns=df.columns[-1], axis=1)
    df_y = df.iloc[:, -1].copy()
    
#     convert and scale X dataframe to PCA to solve dimensionality problem
    scaler = MinMaxScaler()
    df_X_scaled = pd.DataFrame(scaler.fit_transform(df_X), columns=df_X.columns, index=df_X.index)
    

#     create unique list to sample random datapoints from
    if val:
        sample_list = list(range(int(len(df_y)*val_cutoff), int(len(df_y)-y_length))) #y_length pans the end
    if not val:
        sample_list = list(range(int(X_length), int(len(df_y)-y_length))) #X_length pans start
    random.shuffle(sample_list)
    
#     empty lists to append data to, will create 3D dataframe here
    X, y = [], []
    
    
#     define a simple data slicing and selection function. This function will create a slice of data from a specified random starting position. The random position must be generated externally.
    
    def get_Xi_yi(df_X, 
              df_y,
              random_start, #list of random values
              X_length, #X_length pans start
              y_length #y_length pans the end
                 ): 
        '''Define a simple data slicing and selection function. 
        This function will create a slice of data from a specified random starting position. 
        The random position must be generated externally.'''
    
#     must define a random_start:int for function to run
        Xi = df_X.iloc[random_start-X_length:random_start]
        yi = df_y.iloc[random_start:random_start+y_length]

        return Xi, yi

    
#     for loop to select ith values from data
    for i in range(number_of_sequences):
        Xi, yi = get_Xi_yi(df_X_scaled, df_y, sample_list.pop(), X_length, y_length)
        X.append(Xi.values.tolist())
        y.append(yi.values.tolist())
        
    return np.array(X), np.array(y)

In [19]:
Xytotal = fulldf()
df = Xytotal

In [39]:
X,y= get_X_y(df, 
            X_length=13, # 
            y_length=13, 
            number_of_sequences=51, 
            number_of_targets=4, 
            val=True, 
            val_cutoff=0.8)

In [49]:
X.shape, y.shape

((51, 13, 310), (51, 13))

In [52]:
y_length = 3
X_length = 3
val_cutoff = .999
sample_list = list(range(int(len(df_y)*val_cutoff), int(len(df_y)-y_length))) #y_length pans the end
sample_list

[29138,
 29139,
 29140,
 29141,
 29142,
 29143,
 29144,
 29145,
 29146,
 29147,
 29148,
 29149,
 29150,
 29151,
 29152,
 29153,
 29154,
 29155,
 29156,
 29157,
 29158,
 29159,
 29160,
 29161,
 29162,
 29163,
 29164]

In [61]:
length   = 18
min_size = 13
ll = list(range(length-min_size))
print(ll)
print(random.choice(ll))

first=list(range(0,length-13))
#sample_l = 
random.shuffle(first)
first

[0, 1, 2, 3, 4]
0

[2, 4, 0, 1, 3]

In [69]:
d  = pickle.loads(np.load(f'../data/1_123.npz')['data'])
zero=pd.DataFrame(d[0])

In [82]:
length   = 18
min_size = 13
ll = list(range(length-min_size))
randstart=random.choice(ll)
randstart
print(ll)

[0, 1, 2, 3, 4]

In [76]:
#zero.iloc[0:13]
zero.iloc[randstart:randstart+13]

,0,1,2,3,4,5,6,7,8,9,...,300,301,302,303,304,305,306,307,308,309
0,11.082522,8.915990,7.894088,8.393629,8.576055,10.450283,8.682803,7.425018,6.833982,6.431147,...,8.720063,7.484101,6.889748,5.478040,4.247615,8.838729,7.736448,7.071955,5.657081,4.361506
1,11.081816,8.915104,7.893646,8.393852,8.575908,10.449770,8.681773,7.424501,6.833948,6.430860,...,8.719947,7.483864,6.889452,5.477954,4.247919,8.838477,7.736124,7.071776,5.656987,4.361624
2,11.081139,8.914245,7.893116,8.394334,8.575671,10.449391,8.680753,7.424007,6.834211,6.430407,...,8.719872,7.483311,6.888881,5.477563,4.248155,8.838380,7.735444,7.071462,5.656746,4.361780
3,11.080857,8.913749,7.893061,8.394893,8.575294,10.449425,8.680200,7.424111,6.834612,6.429797,...,8.719701,7.482540,6.887955,5.476832,4.248294,8.838502,7.734421,7.070929,5.656415,4.362126
4,11.081297,8.913816,7.893386,8.395509,8.575009,10.449813,8.680219,7.424706,6.835073,6.429158,...,8.719669,7.481893,6.886515,5.475891,4.248291,8.839146,7.733523,7.069984,5.656045,4.362404
5,11.082385,8.914133,7.893591,8.395986,8.574627,10.450640,8.680702,7.425287,6.835468,6.428375,...,8.719719,7.481358,6.884889,5.474986,4.248107,8.840121,7.732843,7.068976,5.655815,4.362619
6,11.083825,8.914366,7.893565,8.396130,8.573922,10.451684,8.681255,7.425670,6.835498,6.427334,...,8.719999,7.480719,6.883047,5.474118,4.247806,8.841397,7.732290,7.067766,5.655584,4.362830
7,11.085158,8.914192,7.892964,8.395734,8.572777,10.452605,8.681552,7.425420,6.834936,6.425751,...,8.720617,7.480014,6.881331,5.473169,4.247491,8.842948,7.731709,7.066447,5.655036,4.363043
8,11.085906,8.913450,7.891825,8.394749,8.571212,10.452949,8.681341,7.424560,6.833846,6.423801,...,8.721225,7.479337,6.879698,5.472189,4.247235,8.844387,7.731218,7.065100,5.654262,4.363255
9,11.086201,8.911913,7.890041,8.393327,8.569228,10.452640,8.680249,7.422915,6.832204,6.421476,...,8.721410,7.478602,6.877927,5.471179,4.247170,8.845474,7.730684,7.063503,5.653381,4.363512
10,11.086416,8.910022,7.888055,8.391777,8.567214,10.451958,8.678671,7.420909,6.830360,6.419044,...,8.721887,7.477890,6.876061,5.469957,4.247279,8.846774,7.730190,7.061627,5.652372,4.363874
11,11.086846,8.908668,7.886208,8.390266,8.565331,10.451614,8.677662,7.419126,6.828673,6.416543,...,8.722321,7.477286,6.873987,5.468397,4.247523,8.848041,7.729970,7.059578,5.651256,4.364378
12,11.087567,8.907917,7.884548,8.388749,8.563435,10.451431,8.677344,7.417527,6.827084,6.413831,...,8.722347,7.476752,6.872147,5.466843,4.247917,8.848900,7.729900,7.057913,5.650197,4.365156

In [ ]:
#Full DF, no split, same shape, random starts
def fulldfrand(nsubjects=16):
    data16  = {}
    label16 = {}
    for i in range(1,nsubjects+1): 
        # Load all 16 files data into a Dict named 'i_123.npz' using a for loop
        data16[i]  = pickle.loads(np.load(f'../data/{i}_123.npz')['data'])
        label16[i] = pickle.loads(np.load(f'../data/{i}_123.npz')['label'])
    Xy16_list = []
    for i in range(1,nsubjects+1): 
        #apply all data to the gather data func to create lists of DFs 
        Xy = gatherdata(data16[i], label16[i])
        Xy16_list.append(Xy)
    XyDF = pd.concat(Xy16_list)
    XyDF.columns = [*XyDF.columns[:-1], 'target']
    return XyDF

In [ ]:


Xyframes=[]
for i in range(45):
    Xyframes.append(pd.concat([pd.DataFrame(X[i]), pd.DataFrame(y[i])], axis=1))
    
XyDF = pd.concat(Xyframes)
return XyDF